<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flexbox">
      <div class="header">
        <div class="title flexbox">
          <H1>Choose Your Favorite Mars Rover</H1>
        </div>
      </div>
      <div class="rovers">
        <div class="curiosity flexbox">
          <h2>Curiosity</h2>
          <div id="curiosity-img" (click)="curiosityClickEvent()">
            <app-curiosity></app-curiosity>
          </div>
        </div>
        <div class="opportunity flexbox" (click)="opportunityClickEvent()">
          <h2>Opportunity</h2>
          <div id="opportunity-img">
            <app-opportunity></app-opportunity>
          </div>
        </div>
        <div class="spirt flexbox" (click)="spiritClickEvent()">
          <h2>
            Spirit
          </h2>
          <div id="spirit-img">
            <app-spirit></app-spirit>
          </div>
        </div>
      </div>
      <div class="roverInfo">
        <div class="curiosity-info flexbox">
          <app-curiosity-info></app-curiosity-info>
        </div>
        <div class="opportunity-info flexbox">
          <app-opportunity-info></app-opportunity-info>
        </div>
        <div class="spirit-info flexbox">
          <app-spirit-info></app-spirit-info>
        </div>
      </div>
    </div>
  </body>
</html>
