<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <!-- <h1>
        <ng-template [ngIf]="main">Welcome To Mars</ng-template>
        <ng-template [ngIf]="rovers">
          <div>Welcome to the Rovers</div>
        </ng-template>
        <ng-template [ngIf]="curiosity">
          <div>Welcome to the Rover Curiosity</div>
        </ng-template>
        <ng-template [ngIf]="opportunity">
          <div>Welcome to the Rover Opportunity</div>
        </ng-template>
        <ng-template [ngIf]="spirit">
          <div>Welcome to the Rover Spirit</div>
        </ng-template>
      </h1> 
    trying to get angular to check the url and display a differnt h1 based on the url
    -->
    </div>
  </body>
</html>
