<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="pictureChoice">
        <div class="backButton">
            <button class="backButt">Back</button>
        </div>
        <div class="roverImg">
          <div class="img">
            <img src="../../assets/365_MER-1280.jpg" alt="" height="600px" ></div>
        </div>
        <div class="forwardButton">
            <button class="forwardButt">Forward</button>
        </div>
      </div>
      
      </div><div class="discriptions">
        <div class="date">
            <p>date</p>
        </div>
        <div class="extraData">
        <p>extra</p></div>
    </div>
  </body>
</html>
