<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    
    <div class="page">
      <div class="pictureChoice">
        <div class="backButton">
            <button class="backButt" (click)="backButton(rovorPhotoIndex); logIndex()">Back</button>
        </div>
        <div class="roverImg"><app-info-render></app-info-render>
          
        </div>
        <div class="forwardButton">
            <button class="forwardButt" (click)="forwardButton(roverPhotoArrLength); logIndex()">Forward</button>
        </div>
      </div>
      </div>
     
  </body>
</html>
