<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="pictureChoice">
        <div class="backButton">
          <button
            class="backButt"
            (click)="backButton(rovorPhotoIndex); logIndex()"
          >
            Back
          </button>
        </div>
        <div class="roverImg">
          <div class="img"></div>
          <div>
            <div *ngIf="conditionalRender" class="background">
              <style>
                
              </style>

              <img src="{{ conditionalRender.img_src }}" alt="" width="450px" />

              <div class="discriptions">
                <div class="date">
                  <h1>Earth date the picture was taken:</h1>
                  <h2>{{ conditionalRender.earth_date }}</h2>
                </div>
                <div class="extraData">
                  <h1>Mars date the picture was taken:</h1>
                  <H2>sol {{ conditionalRender.sol }}</H2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="forwardButton">
          <button
            class="forwardButt"
            (click)="forwardButton(roverPhotoArrLength); logIndex()"
          >
            Forward
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
