/* title */


position: relative;
width: 1363px;
height: 104px;

background: #FFFFFF;


/* discrption */


position: relative;
width: 1363px;
height: 282px;

background: #FFFFFF;


/* Picture */


position: relative;
width: 754px;
height: 469px;

background: #FFFFFF;


/* forward button */


position: absolute;
width: 88px;
height: 146px;

background: #C4C4C4;


/* backbutton */


position: absolute;
width: 88px;
height: 146px;

background: #C4C4C4;